form {
    padding: 15px;    
}

.ant-row.ant-row.css-dev-only-do-not-override-vn1oyg
{
    padding-right: 15px;
    padding-left: 15px;
}

.create-button {
    background-color: lightgrey;
    color: black;
    border-color: black;
}
